# Local .terraform directories
.terraform/
.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.log.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json